@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

a:hover{
    color: #4361ee;
}

body{
    background-color: #f8f8f8;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: 80px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

nav .left{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .left .logo img{
    width: 50px;
    height: 50px;
    object-fit: fill;
}

nav .left .links{
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: bold;
}

nav .buttons{
    display: flex;
    gap: 14px;
}

nav .buttons a{
    background-color: #eaf4f4;
    padding: 10px;
    color: #2d6a4f;
    border-radius: 50%;
    font-size: 18px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    justify-content: center;
    text-align: center;
    gap: 26px;
    background-color: #fff;
    opacity: 0.8;
    background-image:  radial-gradient(#2d6a4f 0.75px, transparent 0.75px), radial-gradient(#2d6a4f 0.75px, #ffffff 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,15px 15px;
}

header .info h1{
    font-weight: 900;
    background: #fff;
}

.separator{
    align-items: center; !important
}

.separator{
    justify-content: center; !important
}

.separator{
    text-align: center; !important
}

header .info p{
    color: #666;
    font-size: 18px;
    margin-top: 14px;
    font-weight: bold;
    background: #fff;
    text-align: right;
}

header .buttons{
    display: flex;
    gap: 14px;
    margin-top: 10px;
}

header .buttons button{
    border: none;
    padding: 8px;
    width: 140px;
    border-radius: 10px;
    background-color: #10898b;
    color: #fff;
    cursor: pointer;
}

.courses .item:nth-last-child(1) {
    padding-left: 75px; /* Add left margin */
}

.content{
    background-color: #f8f8fa;
    padding-right: 40px;
    padding-left: 40px;
    direction: rtl; 
}

.content .separator{
    display: flex;
    margin-bottom: 30px;
}

.content .separator a{
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    text-align: right;
}

.content .separator a i{
    font-size: 18px;
}

.content .courses{

}

.content .courses .item{
    width: 30%;
}

.content {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
}

.courses {
    display: flex; /* Make the courses container a flexbox */
    padding: 20px; /* Add padding to the courses container */
}

.item {
    flex: 0 0 auto; /* Maintain the original size of each item */
    margin-right: 20px; /* Add margin between items */
}

/* Optionally, you can adjust the width of each item */
.item img {
    width: 200px; /* Set the width of each course item */
}


.content .courses .item .top,
.content .courses .item .bottom{
    display: flex;
    gap: 10px;
    background-color: #fff;
    padding: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    border-bottom: 1px dashed #888;
    justify-content: right;
}

.content .courses .item .top img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.content .courses .item .top .info a{
    display: block;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 8px;
    line-height: 1.4rem;
}

.content .courses .item .top .info p{
    color: #888;
    font-size: 13px;
    margin-bottom: 2px;
    text-align: right;
}

.content .courses .item .bottom{
    border-bottom: none;
    justify-content: space-between;    
    border-top: 1px dashed #888;
}

.all .all .all-item .bottom{
    border-bottom: none;
    justify-content: space-between; !important    
    border-top: 1px dashed #888;
}

.content .courses .item .bottom h5.tag{
    font-weight: 500;
    background-color: #fff2b2;
    color: #db7c26;
    padding: 10px;
    border-radius: 12px;
    font-size: 13px;
}

.service {
    justify-content: space-between;
    text-align: center;
    margin: 50px;
}

.separator h2{
    padding-top: 75px;
    text-align: right;
    padding-right: 75px;
}

.service i{
    font-size: 50px;
}

.service h3, .service p {
    font-size: 30px;
}

.servicejoin {
    display: flex;
}

.serviceitems h3, .serviceitems p{
    display: flex;
    flex-direction: column;
}

.servicelast h3, .servicelast p{
    display: flex;
    flex-direction: column;
}

.content .courses .item .bottom h5.tag span{
    font-weight: bold;
}

.service h2{
    font-size: 50px;
}

.service h2 {
    margin-bottom: 45px;
}

.serviceitems{
    font-weight: 500;
    background-color: #edf2ff;
    border-radius: 30px;
    font-size: 13px;
    margin-right: 25px;
}

.servicelast{
    font-weight: 500;
    background-color: #edf2ff;
    border-radius: 30px;
    font-size: 13px;
    margin-left: 25px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 100px 30px;
    background-color: #034748;
    color: #fff;
    border-radius: 40px 40px 0 0;
}

footer .columns{
    display: flex;
    justify-content: space-around;
}

footer .columns .col{
    display: flex;
    flex-direction: column;
    flex: 2;
}

footer .columns .col h5{
    text-align: center;
    margin-bottom: 14px;
    font-size: 30px;
}

footer .columns .col a{
    text-align: center;
    margin-bottom: 6px;
    color: #ccc;
    font-size: 20px;
}

footer .columns .col a:hover{
    color: #fff;
}

footer .columns .col.last p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 14px;
}

footer .columns .col.last .social-links{
    display: flex;
    gap: 10px;
    text-align: center;
}

footer .columns .col.last .social-links i{
    font-size: 20px;
    cursor: pointer;
}

footer .copyright{
    margin-top: 50px;
    font-size: 13px;
}

@media screen and (max-width:1200px) {
    
    nav{
        padding: 0 60px;
    }

    header .search{
        width: 50%;
    }

    .content{
        padding: 100px 60px 0;
    }

    .content .courses .item .top,
    .content .courses .item .bottom,
    .content .articles .item .bottom{
        flex-direction: column;
    }

    .content .courses .item .top img{
        width: 100%;
        height: 180px;
    }

    .content .courses .item .bottom h5.tag{
        text-align: center;
    }

}

@media screen and (max-width: 940px) {

    .content .courses .item{
        width: 45%;
    }

    .content .courses .item .bottom .discount > h5{
        width: 80%;
    }

    footer{
        padding: 60px 70px 30px;
    }

    footer .columns{
        flex-wrap: wrap;
        row-gap: 20px;
    }

    footer .columns .col,
    footer .columns .col.last{
        width: 45%;
        flex: none;
    }

}

@media screen and (max-width:768px) {
    
    nav{
        padding: 0 30px;
    }

    nav .left .links{
        font-size: 13px;
        gap: 14px;
    }

    header .info h1{
        font-size: 26px;
    }

    header .info p{
        font-size: 16px;
    }

    header .search{
        width: 70%;
    }

    .content{
        padding: 100px 30px 0;
    }

    .content .courses .item .top{
        height: 324px;
    }


    .content .courses .item .bottom .discount > h5{
        width: 100%;
    }

    footer{
        padding: 60px 50px 30px;
    }

}

@media screen and (max-width:576px) {
    
    nav .left .links a:nth-child(5),
    nav .left .links a:nth-child(6){
        display: none;
    }

    .content .courses .item .top .info a{
        font-size: 14px;
    }

    footer{
        padding: 60px 30px 30px;
    }

}

@media screen and (max-width:0px) {
    .serviceitems{
        width: 75px;
        margin-right: 20px;
    }

    .servicelast{
        width: 80px;
        margin-left: 20px;
    }
}

@media screen and (max-width:430px) {
    .serviceitems{
        padding-top: 10px;
        width: 100px;
    }

    .servicelast{
        padding-top: 10px;
        width: 120px;
    }
}
@media screen and (max-width:414px) {
    .serviceitems{
        padding-top: 10px;
        width: 100px;
    }

    .servicelast{
        padding-top: 10px;
        width: 120px;
    }

    .serviceitems p {
        margin-right: 20px;
    }
}

.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu a:hover {
    background-color: #777;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

a:hover{
    color: #4361ee;
}

body{
    background-color: #f8f8f8;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: 80px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

nav .left{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .left .logo img{
    width: 50px;
    height: 50px;
    object-fit: fill;
}

nav .left .links{
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: bold;
}

nav .buttons{
    display: flex;
    gap: 14px;
}

nav .buttons a{
    background-color: #eaf4f4;
    padding: 10px;
    color: #2d6a4f;
    border-radius: 50%;
    font-size: 18px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    justify-content: center;
    text-align: center;
    gap: 26px;
    background-color: #fff;
    opacity: 0.8;
    background-image:  radial-gradient(#2d6a4f 0.75px, transparent 0.75px), radial-gradient(#2d6a4f 0.75px, #ffffff 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,15px 15px;
}

header .info h1{
    font-weight: 900;
    background: #fff;
}

.separator{
    align-items: center; !important
}

.separator{
    justify-content: center; !important
}

.separator{
    text-align: center; !important
}

header .info p{
    color: #666;
    font-size: 18px;
    margin-top: 14px;
    font-weight: bold;
    background: #fff;
    text-align: right;
}

header .buttons{
    display: flex;
    gap: 14px;
    margin-top: 10px;
}

header .buttons button{
    border: none;
    padding: 8px;
    width: 140px;
    border-radius: 10px;
    background-color: #10898b;
    color: #fff;
    cursor: pointer;
}

.courses .item:nth-last-child(1) {
    padding-left: 75px; /* Add left margin */
}

.content{
    background-color: #f8f8fa;
    padding-right: 40px;
    padding-left: 40px;
    direction: rtl; 
}

.content .separator{
    display: flex;
    margin-bottom: 30px;
}

.content .separator a{
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    text-align: right;
}

.content .separator a i{
    font-size: 18px;
}

.content .courses{

}

.content .courses .item{
    width: 30%;
}

.content {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
}

.courses {
    display: flex; /* Make the courses container a flexbox */
    padding: 20px; /* Add padding to the courses container */
}

.item {
    flex: 0 0 auto; /* Maintain the original size of each item */
    margin-right: 20px; /* Add margin between items */
}

/* Optionally, you can adjust the width of each item */
.item img {
    width: 200px; /* Set the width of each course item */
}


.content .courses .item .top,
.content .courses .item .bottom{
    display: flex;
    gap: 10px;
    background-color: #fff;
    padding: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    border-bottom: 1px dashed #888;
    justify-content: right;
}

.content .courses .item .top img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.content .courses .item .top .info a{
    display: block;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 8px;
    line-height: 1.4rem;
}

.content .courses .item .top .info p{
    color: #888;
    font-size: 13px;
    margin-bottom: 2px;
    text-align: right;
}

.content .courses .item .bottom{
    border-bottom: none;
    justify-content: space-between;    
    border-top: 1px dashed #888;
}

.all .all .all-item .bottom{
    border-bottom: none;
    justify-content: space-between; !important    
    border-top: 1px dashed #888;
}

.content .courses .item .bottom h5.com{
    font-weight: 500;
    background-color: #b2fbff;
    color: #1a7076;
    padding: 10px;
    border-radius: 12px;
    font-size: 13px;
}

.service {
    justify-content: space-between;
    text-align: center;
    margin: 50px;
}

.separator h2{
    padding-top: 75px;
    text-align: right;
    padding-right: 75px;
}

.service i{
    font-size: 50px;
}

.service h3, .service p {
    font-size: 30px;
}

.servicejoin {
    display: flex;
}

.serviceitems h3, .serviceitems p{
    display: flex;
    flex-direction: column;
}

.servicelast h3, .servicelast p{
    display: flex;
    flex-direction: column;
}

.content .courses .item .bottom h5.tag span{
    font-weight: bold;
}

.service h2{
    font-size: 50px;
}

.service h2 {
    margin-bottom: 45px;
}

.serviceitems{
    font-weight: 500;
    background-color: #edf2ff;
    border-radius: 30px;
    font-size: 13px;
    margin-right: 25px;
}

.servicelast{
    font-weight: 500;
    background-color: #edf2ff;
    border-radius: 30px;
    font-size: 13px;
    margin-left: 25px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 100px 30px;
    background-color: #034748;
    color: #fff;
    border-radius: 40px 40px 0 0;
}

footer .columns{
    display: flex;
    justify-content: space-around;
}

footer .columns .col{
    display: flex;
    flex-direction: column;
    flex: 2;
}

footer .columns .col h5{
    text-align: center;
    margin-bottom: 14px;
    font-size: 30px;
}

footer .columns .col a{
    text-align: center;
    margin-bottom: 6px;
    color: #ccc;
    font-size: 20px;
}

footer .columns .col a:hover{
    color: #fff;
}

footer .columns .col.last p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 14px;
}

footer .columns .col.last .social-links{
    display: flex;
    gap: 10px;
    text-align: center;
}

footer .columns .col.last .social-links i{
    font-size: 20px;
    cursor: pointer;
}

footer .copyright{
    margin-top: 50px;
    font-size: 13px;
}

@media screen and (max-width:1200px) {
    
    nav{
        padding: 0 60px;
    }

    header .search{
        width: 50%;
    }

    .content{
        padding: 100px 60px 0;
    }

    .content .courses .item .top,
    .content .courses .item .bottom,
    .content .articles .item .bottom{
        flex-direction: column;
    }

    .content .courses .item .top img{
        width: 100%;
        height: 180px;
    }

    .content .courses .item .bottom h5.tag{
        text-align: center;
    }

}

@media screen and (max-width: 940px) {

    .content .courses .item{
        width: 45%;
    }

    .content .courses .item .bottom .discount > h5{
        width: 80%;
    }

    footer{
        padding: 60px 70px 30px;
    }

    footer .columns{
        flex-wrap: wrap;
        row-gap: 20px;
    }

    footer .columns .col,
    footer .columns .col.last{
        width: 45%;
        flex: none;
    }

}

@media screen and (max-width:768px) {
    
    nav{
        padding: 0 30px;
    }

    nav .left .links{
        font-size: 13px;
        gap: 14px;
    }

    header .info h1{
        font-size: 26px;
    }

    header .info p{
        font-size: 16px;
    }

    header .search{
        width: 70%;
    }

    .content{
        padding: 100px 30px 0;
    }

    .content .courses .item .top{
        height: 324px;
    }


    .content .courses .item .bottom .discount > h5{
        width: 100%;
    }

    footer{
        padding: 60px 50px 30px;
    }

}

@media screen and (max-width:576px) {
    
    nav .left .links a:nth-child(5),
    nav .left .links a:nth-child(6){
        display: none;
    }

    .content .courses .item .top .info a{
        font-size: 14px;
    }

    footer{
        padding: 60px 30px 30px;
    }

}

@media screen and (max-width:0px) {
    .serviceitems{
        width: 75px;
        margin-right: 20px;
    }

    .servicelast{
        width: 80px;
        margin-left: 20px;
    }
}

@media screen and (max-width:430px) {
    .serviceitems{
        padding-top: 10px;
        width: 100px;
    }

    .servicelast{
        padding-top: 10px;
        width: 120px;
    }
}
@media screen and (max-width:414px) {
    .serviceitems{
        padding-top: 10px;
        width: 100px;
    }

    .servicelast{
        padding-top: 10px;
        width: 120px;
    }

    .serviceitems p {
        margin-right: 20px;
    }
}

.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu a:hover {
    background-color: #777;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

a:hover{
    color: #4361ee;
}

body{
    background-color: #f8f8f8;
}

nav{
    display: flex;
    align-items: center;
    justify-all: space-between;
    padding: 0 80px;
    height: 80px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

nav .left{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .left .logo img{
    width: 75px;
    height: 75px;
    object-fit: fill;
}

nav .left .links{
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: bold;
}

nav .buttons{
    display: flex;
    gap: 14px;
}

nav .buttons a{
    background-color: #eaf4f4;
    padding: 10px;
    color: #2d6a4f;
    border-radius: 50%;
    font-size: 18px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    justify-all: center;
    text-align: center;
    gap: 26px;
    background-color: #fff;
    opacity: 0.8;
    background-image:  radial-gradient(#2d6a4f 0.75px, transparent 0.75px), radial-gradient(#2d6a4f 0.75px, #ffffff 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,15px 15px;
}

header .info h1{
    font-weight: 900;
    background: #fff;
}

.separator{
    align-items: center; !important
}

.separator{
    justify-all: center; !important
}

.separator{
    text-align: center; !important
}

header .info p{
    color: #666;
    font-size: 18px;
    margin-top: 14px;
    font-weight: bold;
    background: #fff;
    text-align: right;
}

header .buttons{
    display: flex;
    gap: 14px;
    margin-top: 10px;
}

header .buttons button{
    border: none;
    padding: 8px;
    width: 140px;
    border-radius: 10px;
    background-color: #10898b;
    color: #fff;
    cursor: pointer;
}


.all{
    background-color: #f8f8fa;
    padding: 100px 80px 0;
}

.all .separator{
    display: flex;
    margin-bottom: 30px;
}

.all .separator a{
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    text-align: right;
}

.all .separator a i{
    font-size: 18px;
}

.all .all{
    display: flex;
    justify-all: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-bottom: 100px;
}

.all .all .all-item{
    width: 30%;
}

.all .all .all-item .top,
.all .all .all-item .bottom{
    display: flex;
    gap: 10px;
    background-color: #fff;
    padding: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    border-bottom: 1px dashed #888;
    justify-all: right;
}

.all .all .all-item .top img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.all .all .all-item .top .info a{
    display: block;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 8px;
    line-height: 1.4rem;
}

.all .all .item .top .info p{
    color: #888;
    font-size: 13px;
    margin-bottom: 2px;
    text-align: right;
}

.all .all .item .bottom{
    border-bottom: none;
    justify-all: space-between;    
    border-top: 1px dashed #888;
}

.all {
    padding-top: 20px;
}

.all .all {
    justify-content: space-around;
}

.all-item {
}

.all .all .all-item .bottom h5.tag{
    font-weight: 500;
    background-color: #fff2b2;
    color: #db7c26;
    padding: 10px;
    border-radius: 12px;
    font-size: 13px;
}

.service {
    justify-all: space-between;
    text-align: center;
    margin: 50px;
}


.service i{
    font-size: 50px;
}

.service h3, .service p {
    font-size: 30px;
}

.servicejoin {
    display: flex;
}

.serviceitems h3, .serviceitems p{
    display: flex;
    flex-direction: column;
}

.servicelast h3, .servicelast p{
    display: flex;
    flex-direction: column;
}

.all .all .all-item .bottom h5.tag span{
    font-weight: bold;
}

.service h2{
    font-size: 50px;
}

.service h2 {
    margin-bottom: 45px;
}

.serviceitems{
    font-weight: 500;
    background-color: #edf2ff;
    border-radius: 30px;
    font-size: 13px;
    margin-right: 25px;
}

.servicelast{
    font-weight: 500;
    background-color: #edf2ff;
    border-radius: 30px;
    font-size: 13px;
    margin-left: 25px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 100px 30px;
    background-color: #034748;
    color: #fff;
    border-radius: 40px 40px 0 0;
}

footer .columns{
    display: flex;
    justify-all: space-around;
}

footer .columns .col{
    display: flex;
    flex-direction: column;
    flex: 2;
}

footer .columns .col h5{
    text-align: center;
    margin-bottom: 14px;
    font-size: 30px;
}

footer .columns .col a{
    text-align: center;
    margin-bottom: 6px;
    color: #ccc;
    font-size: 20px;
}

footer .columns .col a:hover{
    color: #fff;
}

footer .columns .col.last p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 14px;
}

footer .columns .col.last .social-links{
    display: flex;
    gap: 10px;
    text-align: center;
}

footer .columns .col.last .social-links i{
    font-size: 20px;
    cursor: pointer;
}

footer .copyright{
    margin-top: 50px;
    font-size: 13px;
}

@media screen and (max-width:1200px) {
    
    nav{
        padding: 0 60px;
    }

    header .search{
        width: 50%;
    }

    .all{
        padding: 100px 60px 0;
    }

    .all .all .all-item .top,
    .all .all .all-item .bottom,
    .all .articles .all-item .bottom{
        flex-direction: column;
    }

    .all .all .all-item .top img{
        width: 100%;
        height: 180px;
    }

    .all .all .all-item .bottom h5.tag{
        text-align: center;
    }

}

@media screen and (max-width: 940px) {

    .all .all .all-item{
        width: 45%;
    }

    .all .all .all-item .bottom .discount > h5{
        width: 80%;
    }

    footer{
        padding: 60px 70px 30px;
    }

    footer .columns{
        flex-wrap: wrap;
        row-gap: 20px;
    }

    footer .columns .col,
    footer .columns .col.last{
        width: 45%;
        flex: none;
    }

}

@media screen and (max-width:768px) {
    
    nav{
        padding: 0 30px;
    }

    nav .left .links{
        font-size: 13px;
        gap: 14px;
    }

    header .info h1{
        font-size: 26px;
    }

    header .info p{
        font-size: 16px;
    }

    header .search{
        width: 70%;
    }

    .all{
        padding: 100px 30px 0;
    }

    .all .all .all-item .top{
        height: 324px;
    }


    .all .all .all-item .bottom .discount > h5{
        width: 100%;
    }

    footer{
        padding: 60px 50px 30px;
    }

}

@media screen and (max-width:576px) {
    
    nav .left .links a:nth-child(5),
    nav .left .links a:nth-child(6){
        display: none;
    }

    .all .all .all-item .top .info a{
        font-size: 14px;
    }

    footer{
        padding: 60px 30px 30px;
    }

}

@media screen and (max-width:0px) {
    .serviceitems{
        width: 75px;
        margin-right: 20px;
    }

    .servicelast{
        width: 80px;
        margin-left: 20px;
    }
}

@media screen and (max-width:430px) {
    .serviceitems{
        padding-top: 10px;
        width: 100px;
    }

    .servicelast{
        padding-top: 10px;
        width: 120px;
    }
}
@media screen and (max-width:414px) {
    .serviceitems{
        padding-top: 10px;
        width: 100px;
    }

    .servicelast{
        padding-top: 10px;
        width: 120px;
    }

    .serviceitems p {
        margin-right: 20px;
    }
}

.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu a:hover {
    background-color: #777;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

a:hover{
    color: #4361ee;
}

body{
    background-color: #f8f8f8;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: 80px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

nav .left{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .left .logo img{
    width: 75px;
    height: 75px;
    object-fit: fill;
}

nav .left .links{
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: bold;
}

nav .buttons{
    display: flex;
    gap: 14px;
}

nav .buttons a{
    background-color: #eaf4f4;
    padding: 10px;
    color: #2d6a4f;
    border-radius: 50%;
    font-size: 18px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    justify-content: center;
    text-align: center;
    gap: 26px;
    background-color: #fff;
    opacity: 0.8;
    background-image:  radial-gradient(#282f2c 0.75px, transparent 0.75px), radial-gradient(#282f2c 0.75px, #ffffff 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,15px 15px;
}

header .info h1{
    font-weight: 900;
    background: #fff;
}

header .info p{
    color: #666;
    font-size: 18px;
    margin-top: 14px;
    font-weight: bold;
    background: #fff;
}

.search{
    position: relative;
    width: 30%;
    margin-top: 10px;
}

.search input{
    transform: translateY(-100%);
    width: 80%;
    height: 40px;
    padding: 18px 20px;
    border: none;
    border-radius: 18px;
    box-shadow: 0px 4px 70px -10px rgba(0, 0, 0, 0.6);
    outline: none;
    text-align: center;
    font-size: 15px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 100px 30px;
    background-color: #034748;
    color: #fff;
    border-radius: 40px 40px 0 0;
}

footer .columns{
    display: flex;
    justify-content: space-around;
}

footer .columns .col{
    display: flex;
    flex-direction: column;
    flex: 2;
}

footer .columns .col h5{
    text-align: center;
    margin-bottom: 14px;
    font-size: 30px;
}

footer .columns .col a{
    text-align: center;
    margin-bottom: 6px;
    color: #ccc;
    font-size: 20px;
}

footer .columns .col a:hover{
    color: #fff;
}

footer .columns .col.last p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 14px;
}

footer .columns .col.last .social-links{
    display: flex;
    gap: 10px;
    text-align: center;
}

footer .columns .col.last .social-links i{
    font-size: 20px;
    cursor: pointer;
}

footer .copyright{
    margin-top: 50px;
    font-size: 13px;
}

@media screen and (max-width:1200px) {
    
    nav{
        padding: 0 60px;
    }

}

@media screen and (max-width: 940px) {

    footer{
        padding: 60px 70px 30px;
    }

    footer .columns{
        flex-wrap: wrap;
        row-gap: 20px;
    }

    footer .columns .col,
    footer .columns .col.last{
        width: 45%;
        flex: none;
    }

}

@media screen and (max-width:768px) {
    
    nav{
        padding: 0 30px;
    }

    nav .left .links{
        font-size: 13px;
        gap: 14px;
    }

}

@media screen and (max-width:576px) {
    
    nav .left .links a:nth-child(5),
    nav .left .links a:nth-child(6){
        display: none;
    }

    footer{
        padding: 60px 30px 30px;
    }

}

@media screen and (max-width:0px) {
    .serviceitems{
        width: 75px;
        margin-right: 20px;
    }

    .servicelast{
        width: 80px;
        margin-left: 20px;
    }
}

@media screen and (max-width:430px) {
    .serviceitems{
        padding-top: 10px;
        width: 100px;
    }

    .servicelast{
        padding-top: 10px;
        width: 120px;
    }
}