@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

a:hover{
    color: #4361ee;
}

body{
    background-color: #f8f8f8;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: 80px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

nav .left{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .left .logo img{
    width: 75px;
    height: 75px;
    object-fit: fill;
}

nav .left .links{
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: bold;
}

nav .buttons{
    display: flex;
    gap: 14px;
}

nav .buttons a{
    background-color: #eaf4f4;
    padding: 10px;
    color: #2d6a4f;
    border-radius: 50%;
    font-size: 18px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    justify-content: center;
    text-align: center;
    gap: 26px;
    background-color: #fff;
    opacity: 0.8;
    background-image:  radial-gradient(#282f2c 0.75px, transparent 0.75px), radial-gradient(#282f2c 0.75px, #ffffff 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,15px 15px;
}

header .info h1{
    font-weight: 900;
    background: #fff;
}

header .info p{
    color: #666;
    font-size: 18px;
    margin-top: 14px;
    font-weight: bold;
    background: #fff;
}

header .search{
    position: relative;
    width: 30%;
    margin-top: 10px;
}

header .search input{
    width: 100%;
    padding: 18px 20px;
    border: none;
    border-radius: 18px;
    box-shadow: 0px 4px 70px -10px rgba(0, 0, 0, 0.6);
    outline: none;
    text-align: center;
    font-size: 15px;
}

header .search button{
    position: absolute;
    left: 0;
    padding: 12px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 100px 30px;
    background-color: #034748;
    color: #fff;
    border-radius: 40px 40px 0 0;
}

footer .columns{
    display: flex;
    justify-content: space-around;
}

footer .columns .col{
    display: flex;
    flex-direction: column;
    flex: 2;
}

footer .columns .col h5{
    text-align: center;
    margin-bottom: 14px;
    font-size: 30px;
}

footer .columns .col a{
    text-align: center;
    margin-bottom: 6px;
    color: #ccc;
    font-size: 20px;
}

footer .columns .col a:hover{
    color: #fff;
}

footer .columns .col.last p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 14px;
}

footer .columns .col.last .social-links{
    display: flex;
    gap: 10px;
    text-align: center;
}

footer .columns .col.last .social-links i{
    font-size: 20px;
    cursor: pointer;
}

footer .copyright{
    margin-top: 50px;
    font-size: 13px;
}

@media screen and (max-width:1200px) {
    
    nav{
        padding: 0 60px;
    }

}

@media screen and (max-width: 940px) {

    footer{
        padding: 60px 70px 30px;
    }

    footer .columns{
        flex-wrap: wrap;
        row-gap: 20px;
    }

    footer .columns .col,
    footer .columns .col.last{
        width: 45%;
        flex: none;
    }

}

#result {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
    direction: rtl;
    justify-content: space-around;
    background-color: #fff;
} 

#result p{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
    direction: rtl;
    justify-content: space-around;
    background-color: #fff;
} 

@media screen and (max-width:768px) {
    
    nav{
        padding: 0 30px;
    }

    nav .left .links{
        font-size: 13px;
        gap: 14px;
    }

}

@media screen and (max-width:576px) {
    
    nav .left .links a:nth-child(5),
    nav .left .links a:nth-child(6){
        display: none;
    }

    footer{
        padding: 60px 30px 30px;
    }

}

@media screen and (max-width:0px) {
    .serviceitems{
        width: 75px;
        margin-right: 20px;
    }

    .servicelast{
        width: 80px;
        margin-left: 20px;
    }
}

@media screen and (max-width:430px) {
    .serviceitems{
        padding-top: 10px;
        width: 100px;
    }

    .servicelast{
        padding-top: 10px;
        width: 120px;
    }
}